body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: 'Bebas Neue', cursive;
    color:#FAF0DB;
    background-color:#330F5E ;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.img img{
    height: 900px;
    width: 1000px;
}

.img{
    background-color: #67648276;
    width: 100%;
    box-shadow: -1px 7px 145px 29px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: -1px 7px 145px 29px rgba(0,0,0,0.75) inset;
-moz-box-shadow: -1px 7px 145px 29px rgba(0,0,0,0.75) inset;
    display: flex;
    justify-content: center;
}